body {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  /* Только для оформления сетки */
  min-height: 70px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  /* Только для оформления сетки */
  min-height: 70px;
}

.main-navigation {
  float: left;
  width: 780px;
  /* Только для оформления сетки */
  min-height: 70px;
  background-color: lime;
}

.user-block {
  float: right;
  width: 140px;
  /* Только для оформления сетки */
  min-height: 70px;
  background-color: lime;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  background-color: lime;
}
.nav-logo {
  width: 111px;
  background-color: blue;
}

.catalog-item-heading {
  /*width: 600px;
    min-height: 42px;*/
  margin-bottom: 20px;
  background-color: lime;
}

.catalog-heading {
  margin-top: 65px;
  margin-bottom: 20px;
  background-color: lime;
}

.breadcrumbs {
  min-height: 24px;
  margin-bottom: 55px;
  background-color: lime;
}

.catalog-item-images{
  float:left;
  width: 460px;
  min-height: 670px;
}

.catalog-item-image-big {

}

.catalog-item-image-small {
  float: left;
  width: 140px;
  margin-right: 20px;
}

.catalog-item-image-small:last-child {
  margin-right: 0;
}

.catalog-item-right {
  float: right;
  width: 390px;
  min-height: 670px;
  background-color: blue;
}

.catalog-content-left {
  float: left;
  width: 220px;
  min-height: 680px;
  background-color: lime;
}

.catalog-content-right {
  float: right;
  width: 700px;
  min-height: 680px;
  background-color: lime;
  font-size: 0px;
}

.catalog-goods {
  display: inline-block;
  width: 220px;
  min-height: 286px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  background-color: blue;
}

.catalog-goods figure {
  margin: 0;
}

.page-select a {
  font-size: 14px;
}

.catalog-goods:nth-child(3n) {
  margin-right: 0;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  /* Только для оформления сетки */
  min-height: 175px;
  background-color: lime;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background-color: blue;
}

.index-content-left {
  float: left;
  width: 380px;
  /* Только для оформления сетки */
  min-height: 330px;
  background-color: lime;
}

.index-content-right {
  float: right;
  width: 300px;
  /* Только для оформления сетки */
  min-height: 330px;
  background-color: lime;
}

.index-content figure{
  margin: 0;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: blue;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: lime;
}

.footer-social {
  float: left;
  width: 180px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: lime;
}

.footer-copyright {
  float: right;
  width: 180px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: lime;
}
